.header {

  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  border: 1px;
  border-color: black;
  border-style: solid;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  border: 1px solid black;
  align-items: center;
  padding-left: 30px;
  flex-grow: 1;
  color: mediumaquamarine;
}

.logo img {
  margin-right: 12px;
}

.nav {
  display: flex;
  border: 1px solid black;
  padding-right: 40px;

}

a {
    color: black;
}

.nav span {
  display: inline-block;
  padding: 20px 10px;
}

.column.large {
  display: flex;
  flex-direction: column;
  width: 630px;
  margin-right: 32px;
  border: 1px solid black;
}

.column.medium {
  width: 300px;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.column.small {
  width: 240px;
  flex-direction: column;
  margin-right: 32px;
  border: 1px solid black;
}

.column {
  display: flex;
}

.content {
  display: flex;
  border: 1px solid black;
}

.lead-story {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

.image-content {
  display: flex;
  border: 1px solid black;
}

.articles {
  /*display: flex;*/
  border: 1px solid black;
}
.article {
  display: flex;
  border: 1px solid black;
  flex-direction: column;
}

img.cookie {
  height: 240px;
  width: 240px;
}

.news-bites {
  border: 1px solid black;
}
